
/*
PROJECT
 */
.card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card__picture--1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730),url(../images/nat-5.jpg);
}

.card{
    perspective:150rem;
    position:relative;
    height:52rem
}

.card__side{
    height:52rem;
    -webkit-transition:all .8s ease;transition:all .8s ease;
    position:absolute;
    top:0;
    left:0;
    width:100%;-webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    border-radius:3px;
    overflow:hidden;
    -webkit-box-shadow:0 1.5rem 4rem rgba(0,0,0,0.15);
    box-shadow:0 1.5rem 4rem rgba(0,0,0,0.15)
}


.card__side--front{
    background-color:#fff
}
.card__side--back{
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.card__side--back-1{
    background-image:-webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
    background-image:linear-gradient(to right bottom, #ffb900, #ff7730)
}
.card__side--back-2{
    background-image:-webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
    background-image:linear-gradient(to right bottom, #7ed56f, #28b485)
}
.card__side--back-3{
    background-image:-webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
    background-image:linear-gradient(to right bottom, #2998ff, #5643fa)
}
.card:hover .card__side--front{
    -webkit-transform:rotateY(-180deg);transform:rotateY(-180deg)
}
.card:hover .card__side--back{
    -webkit-transform:rotateY(0);transform:rotateY(0)
}
.card__picture{
    background-size:cover;
    height:23rem;
    background-blend-mode:screen;
    -webkit-clip-path:polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path:polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
.card__picture--1{
    background-image:-webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)),
    url(../images/nat-5.jpg);
    background-image:linear-gradient(to right bottom, #ffb900, #ff7730),url(../images/nat-5.jpg)
}
.card__picture--2{
    background-image:-webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485)),url(../images/nat-6.jpg);
    background-image:linear-gradient(to right bottom, #7ed56f, #28b485),url(../images/nat-6.jpg)
}

.card__picture--3{
    background-image:-webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)),url(../images/nat-7.jpg);
    background-image:linear-gradient(to right bottom, #2998ff, #5643fa),url(../images/nat-7.jpg)
}
.card__heading{
    font-size:2.8rem;
    font-weight:300;
    text-transform:uppercase;
    text-align:right;
    color:#fff;
    position:absolute;
    top:12rem;
    right:2rem;
    width:75%
}

.card__heading-span{
    padding:1rem 1.5rem;
    -webkit-box-decoration-break:clone;
    box-decoration-break:clone
}
.card__heading-span--1{
    background-image:-webkit-gradient(linear, left top, right bottom, from(rgba(255,185,0,0.85)), to(rgba(255,119,48,0.85)));
    background-image:linear-gradient(to right bottom, rgba(255,185,0,0.85), rgba(255,119,48,0.85))
}
.card__heading-span--2{
    background-image:-webkit-gradient(linear, left top, right bottom, from(rgba(126,213,111,0.85)), to(rgba(40,180,133,0.85)));
    background-image:linear-gradient(to right bottom, rgba(126,213,111,0.85), rgba(40,180,133,0.85))
}
.card__heading-span--3{
    background-image:-webkit-gradient(linear, left top, right bottom, from(rgba(41,152,255,0.85)), to(rgba(86,67,250,0.85)));
    background-image:linear-gradient(to right bottom, rgba(41,152,255,0.85), rgba(86,67,250,0.85))
}
.card__details{
    padding:3rem
}
.card__details ul{
    list-style:none;
    width:80%;margin:0 auto;
}
.card__details ul li{
    text-align:center;
    font-size:1.5rem;
    padding:1rem
}
.card__details ul li:not(:last-child){
    border-bottom:1px solid #eee;
}
.card__cta{
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    width:90%;
    text-align:center
}
.card__price-box{
    text-align:center;
    color:#fff;
    margin-bottom:8rem
}
.card__price-only{
    font-size:1.4rem;
    text-transform:uppercase;
}
.card__price-value{
    font-size:6rem;
    font-weight:100
}
@media only screen and (max-width: 56.25em), only screen and (hover: none){
    .card{height:auto;
        border-radius:3px;
        background-color:#fff;
        -webkit-box-shadow:0 1.5rem 4rem rgba(0,0,0,0.15);
        box-shadow:0 1.5rem 4rem rgba(0,0,0,0.15);
    }
    .card__side{
        height:auto;
        position:relative;
        -webkit-box-shadow:none;
        box-shadow:none
    }
    .card__side--back{
        -webkit-transform:rotateY(0);
        transform:rotateY(0);
        -webkit-clip-path:polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
        clip-path:polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    }
    .card:hover .card__side--front{
        -webkit-transform:rotateY(0);
        transform:rotateY(0);
    }
    .card__details{
        padding:1rem 3rem
    }
    .card__cta{
        position:relative;
        top:0%;
        left:0;
        -webkit-transform:translate(0);
        transform:translate(0);
        width:100%;
        padding:7rem 4rem 4rem 4rem
    }
    .card__price-box{
        margin-bottom:3rem
    }
    .card__price-value{
        font-size:4rem
    }
}
.composition{
    position:relative
}
.composition__photo{
    width:55%;-webkit-box-shadow:0 1.5rem 4rem rgba(0,0,0,0.4);
    box-shadow:0 1.5rem 4rem rgba(0,0,0,0.4);
    border-radius:2px;
    position:absolute;
    z-index:10;
    -webkit-transition:all .2s;
    transition:all .2s;
    outline-offset:2rem
}
@media only screen and (max-width: 56.25em){
    .composition__photo{
        float:left;
        position:relative;
        width:33.33333333%;
        -webkit-box-shadow:0 1.5rem 3rem rgba(0,0,0,0.2);
        box-shadow:0 1.5rem 3rem rgba(0,0,0,0.2)
    }
}


/* Custom grid system with Floats */
.row {
    max-width: 114rem;
    margin: 0 auto;
}
.row:not(:last-child) {
    margin-bottom: 8rem;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.row [class^="col-"] {
    float: left;
}
.row [class^="col-"]:not(:last-child) {
    margin-right: 6rem;
}
.row .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3)
}
.row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}